<!-- <h1><%# message %></h1> -->
<!-- <h2><%# error.status %></h2> -->
<!-- <pre><%# error.stack %></pre> -->

<h1><%# For BVN Validation, visit ; https://flutterwave-app.herokuapp.com/bvn/validate %></pre

<h1><%# For Login Page, see here; https://flutterwave-app.herokuapp.com/ %></pre

<h1><%# For Sign-up page; visit; https://flutterwave-app.herokuapp.com/signup %></pre